body {
  font-family: Arial,sans-serif;
}

h1 {
  font-size: 38px
}

h2 {
  font-size: 32px
}

ul li a {
    text-decoration: none;
    color: inherit; /* This assures the a elements are not underlined */
}

.ingredients-list{
  list-style: square inside;
}

ol li{
  list-style: upper-latin;

}

header > img {
  width:100px;
}

/* #logo {
  width:100px;
} */

.bg-magenta {
  background-color: magenta;
}
