<h1>Sign Up to Cats Site</h1>

<a href="<%= new_session_url %>">Log In</a>

<br />
<form action="<%= users_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="username">Username</label>
  <input id="username" type="text" name="user[username]">

  <br />

  <label for="password">Password</label>
  <input id="password" type="password" name="user[password]">

  <br />

  <input type="submit" value=" Sign Up ">


</form>
